在 CH 1 的例子中，df 這個資料就好像一個 table，有 row 也有 column。
但這是以 pandas 的角度思考，如果用 python 的角度思考呢?
答案顯然是 dictionary。

In [2]:
person = {'first':'Chris', 'last':'Paul', 'email':'chrispaul.email.com'}
# Key 就是 columns，Value 就是 row。person 代表一個 row 與一個 column。
# 要表示多個 columns 就用多個 keys。
# 那如果要表示多個 rows 呢?

In [3]:
people = {'first':['Chris', 'Lebron', 'Kobe'], 'last':['Paul', 'James', 'Bryant'], 'email':['chrispaul.email.com', 'lebronjames.email.com', 'kobebryant.email.com']}
# 就是把多個 value 的值用 list 來表示。

In [4]:
people['email']

['chrispaul.email.com', 'lebronjames.email.com', 'kobebryant.email.com']

In [6]:
import pandas as pd
df = pd.DataFrame(people) # 事實上，我們可以把 python 的 dictionary 轉換成 data frame 的格式。

In [7]:
df

    first    last                  email
0   Chris    Paul    chrispaul.email.com
1  Lebron   James  lebronjames.email.com
2    Kobe  Bryant   kobebryant.email.com

In [9]:
df['email'] # 雖然用法很像 dictionary，但我們可以看到印出的並非像字典一樣，以 list 方式呈現。
# 用 df.email 也有同樣的效果。

pandas.core.series.Series

In [10]:
type(df['email'])  # 實際上是一個 Series 物件(Object)。
# 可以將 Series 想成一個 column 的所有 rows。

pandas.core.series.Series

In [11]:
df[['last', 'email']] # 用一個 list 來取得多個 columns 的資料。

     last                  email
0    Paul    chrispaul.email.com
1   James  lebronjames.email.com
2  Bryant   kobebryant.email.com

# 取得特定 row 與 column 的方法:
    row: 用 loc, iloc
    column: 用 .columns

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [13]:
df.iloc[0] # iloc = integer location。
# 取得第 0 個 row。

first                  Chris
last                    Paul
email    chrispaul.email.com
Name: 0, dtype: object

In [14]:
df.iloc[[0, 1]] # 當然也可以取得多個 rows 的資料。

    first   last                  email
0   Chris   Paul    chrispaul.email.com
1  Lebron  James  lebronjames.email.com

In [15]:
df.iloc[[0, 1], 2] # 取得特定 row 與 column。
# 可以將 iloc 想成一個 function，第一個 argument 傳的是 row 的範圍。第二個 argument 傳的是 column 的範圍。

0      chrispaul.email.com
1    lebronjames.email.com
Name: email, dtype: object

loc 則是使用 label 來表示範圍。

In [16]:
df.loc[[0, 1], ['last', 'email']] # 顯示第 0-1 row，last 到 email 的 column。

    last                  email
0   Paul    chrispaul.email.com
1  James  lebronjames.email.com