In [1]:
people = {'first':['Chris', 'Lebron', 'Kobe'], 
          'last':['Paul', 'Bryant', 'Bryant'], 
          'email':['chrispaul.email.com', 'lebronbryant.email.com', 'kobebryant.email.com']}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first    last                   email
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com

In [5]:
# 我現在想要過濾出 last name 是 Bryant 的資料:
df['last'] == 'Bryant' # 查看資料狀態，其回傳值是一個 Series Object，裡面有條件的布林值。

0    False
1     True
2     True
Name: last, dtype: bool

In [6]:
filt = (df['last'] == 'Bryant') # 確定好後可以將他丟進變數。

In [7]:
df[filt] # 由前面知道，filt 是一個 series object，而 series object 是只有一個 column 的 rows。
# 因此這行程式碼做的是過濾 df 中符合條件的 rows。

    first    last                   email
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com

In [19]:
filt # 可以看出 filt 是一個 series object，其內存布林值。

0    False
1     True
2     True
Name: last, dtype: bool

In [9]:
df.loc[filt, 'email'] # 用 loc 方法一樣可以過濾，且好處是可以同時過濾 row 與 column。

1    lebronbryant.email.com
2      kobebryant.email.com
Name: email, dtype: object

# Conditional Operator: &, |, ~, >, <

In [15]:
filt2 = (df['last'] == 'Bryant') | (df['first'] == 'Chris')

In [16]:
df[filt2]

    first    last                   email
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com

In [18]:
df.loc[~filt2, 'email'] # 找出 row 跟 filt2 條件互斥的那個人的 email 資料。

Series([], Name: email, dtype: object)