In [1]:
people = {'first':['Chris', 'Lebron', 'Kobe', 'James'], 
          'last':['Paul', 'Bryant', 'Bryant', 'Bryant'], 
          'email':['chrispaul.email.com', 'lebronbryant.email.com', 'kobebryant.email.com', 'jamesbryant.email.com']}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)
df

    first    last                   email
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com
3   James  Bryant   jamesbryant.email.com

## <font color = 'yellow'>sort_values() 以及關鍵字 by [適用 inplace]</font>
### 依照 last 這個 column 來 sort

In [4]:
df.sort_values(by = 'last') # 如果要由大到小，則用 ascending = False

    first    last                   email
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com
3   James  Bryant   jamesbryant.email.com
0   Chris    Paul     chrispaul.email.com

### 先依照 last column 由小到大排，如果 last column 一樣，就照 first column 由小到大排。

In [5]:
df.sort_values(by = ['last', 'first'])

    first    last                   email
3   James  Bryant   jamesbryant.email.com
2    Kobe  Bryant    kobebryant.email.com
1  Lebron  Bryant  lebronbryant.email.com
0   Chris    Paul     chrispaul.email.com

### 先依照 last column <font color = 'red'>由大到小</font>排，如果 last column 一樣，就照 first column <font color = 'red'>由小到大</font>排。

In [7]:
df.sort_values(by = ['last', 'first'], ascending = [False, True], inplace = True)

In [8]:
df

    first    last                   email
0   Chris    Paul     chrispaul.email.com
3   James  Bryant   jamesbryant.email.com
2    Kobe  Bryant    kobebryant.email.com
1  Lebron  Bryant  lebronbryant.email.com

### 如果想改回原狀(依照 index(row 排列))，則可以用 <font color = 'yellow'>sort_index()</font>。

In [10]:
df.sort_index()

    first    last                   email
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com
3   James  Bryant   jamesbryant.email.com

In [11]:
# sort 方法當然也適用 Series
df['last'].sort_values()

3    Bryant
2    Bryant
1    Bryant
0      Paul
Name: last, dtype: object