在 CH 1 的例子中，df 這個資料就好像一個 table，有 row 也有 column。
但這是以 pandas 的角度思考，如果用 python 的角度思考呢?
答案顯然是 dictionary。

In [2]:
person = {'first':'Chris', 'last':'Paul', 'email':'chrispaul.email.com'}
# Key 就是 columns，Value 就是 row。person 代表一個 row 與一個 column。
# 要表示多個 columns 就用多個 keys。
# 那如果要表示多個 rows 呢?

In [3]:
people = {'first':['Chris', 'Lebron', 'Kobe'], 'last':['Paul', 'James', 'Bryant'], 'email':['chrispaul.email.com', 'lebronjames.email.com', 'kobebryant.email.com']}
# 就是把多個 value 的值用 list 來表示。

In [4]:
people['email']

['chrispaul.email.com', 'lebronjames.email.com', 'kobebryant.email.com']

In [6]:
import pandas as pd
df = pd.DataFrame(people) # 事實上，我們可以把 python 的 dictionary 轉換成 data frame 的格式。

In [7]:
df

    first    last                  email
0   Chris    Paul    chrispaul.email.com
1  Lebron   James  lebronjames.email.com
2    Kobe  Bryant   kobebryant.email.com

In [9]:
df['email'] # 雖然用法很像 dictionary，但我們可以看到印出的並非像字典一樣，以 list 方式呈現。

pandas.core.series.Series

In [10]:
type(df['email'])  # 實際上是一個 Series 物件(Object)。

pandas.core.series.Series

可以將 Series 想成一個 column 的所有 rows。