In [1]:
people = {'first':['Chris', 'Lebron', 'Kobe'], 
          'last':['Paul', 'Bryant', 'Bryant'], 
          'email':['chrispaul.email.com', 'lebronbryant.email.com', 'kobebryant.email.com']}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first    last                   email
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com

# Update columns

### 現在我想要將一個以上的 columns 做更改:

In [5]:
df.columns # 先檢查目前 columns 名稱

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns = ['first name', 'last name', 'email']

In [7]:
df.columns # columns 名稱更新了。

Index(['first name', 'last name', 'email'], dtype='object')

### 如果是對全部 columns 做更改，那可以考慮用 list comprehension:

In [8]:
# 蠻常遇到的情境: 我想將 column 有空格的部分都改為 '_'。
# 因為如果有空格，使用 df.column 名稱 就會出錯。

df.columns = df.columns.str.replace(' ', '_') # 以 '_' 來 replace 原本的空格。

In [9]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

### List comprehension:

In [10]:
df.columns = [x.upper() for x in df.columns] # 將所有 column 名稱改為大寫。

In [11]:
df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

### 更改部分 columns:

In [12]:
df.rename(columns = {'FIRST_NAME':'first', 'LAST_NAME':'last'}, inplace = True)
# 用一個字典來實現。字典的 key 是原本的 column 名稱，value 是欲更改的新名稱。
# 如果想永久替換，也是要記得加 inplace = True

In [13]:
df

    first    last                   EMAIL
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com

# Update rows

### 對一整個 row 做修改(不指定哪一個 column):

In [14]:
df

    first    last                   EMAIL
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant    kobebryant.email.com

In [15]:
df.loc[2] = ['Gigi', 'Mamba', 'gigimamba.email.com']
# 如果直接用 df.loc[2] = ... 會直接新增一個 column，其名字是 2。

In [16]:
df

    first    last                   EMAIL
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Gigi   Mamba     gigimamba.email.com

In [17]:
# 如果想更改部分 columns...
df.loc[2, ['last', 'EMAIL']] = ['Bryant', 'gigbryant.email.com']

In [18]:
# 如果只想改一個 column...
df.loc[2, 'first'] = 'Kobe'
df

    first    last                   EMAIL
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant     gigbryant.email.com

### 對多個 rows 做修改:

            方法一: df[column 名稱] = df[column 名稱].str...
            方法二: apply
            方法三: map
            方法四: applymap
            方法五: replace

##### 方法一:

In [19]:
# 針對 series
# 我想將所有 rows 的 email 都改成大寫:

df['EMAIL'] = df['EMAIL'].str.upper()
df

    first    last                   EMAIL
0   Chris    Paul     CHRISPAUL.EMAIL.COM
1  Lebron  Bryant  LEBRONBRYANT.EMAIL.COM
2    Kobe  Bryant     GIGBRYANT.EMAIL.COM

##### 方法二: apply(你要套用的 function 名稱)

In [20]:
# 針對 series

# 查看每個人郵件名稱的長度:
df['EMAIL'].apply(len) # 套用 len()

0    19
1    22
2    19
Name: EMAIL, dtype: int64

### apply()

In [21]:
# 自訂一個 function，回傳 upper case。
def update_email(email):
    return email.upper()

In [22]:
df['EMAIL'] = df['EMAIL'].apply(update_email) # 注意 apply() 是傳入 function 名稱，而不是執行的 function，所以不應該加括號。

In [23]:
df

    first    last                   EMAIL
0   Chris    Paul     CHRISPAUL.EMAIL.COM
1  Lebron  Bryant  LEBRONBRYANT.EMAIL.COM
2    Kobe  Bryant     GIGBRYANT.EMAIL.COM

In [24]:
# 當然，像 update_email 這麼簡單的 function，可以直接用 lambda 函數。
df['EMAIL'] = df['EMAIL'].apply(lambda x: x.lower())

In [25]:
df # email 重新變回小寫。

    first    last                   EMAIL
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant     gigbryant.email.com

### applymap()

In [26]:
df.applymap(len) # 用 applymap() 直接執行 function。

   first  last  EMAIL
0      5     4     19
1      6     6     22
2      4     6     19

### map() 和 replae()

In [27]:
df

    first    last                   EMAIL
0   Chris    Paul     chrispaul.email.com
1  Lebron  Bryant  lebronbryant.email.com
2    Kobe  Bryant     gigbryant.email.com

In [28]:
df['first'].map({'Chris':'Charley', 'Lebron':'Lily'})
# map 方法只適用於 Series 物件。
# 且注意到 NaN 的情況。如果我們只想改我們要改的部分，那可以用 replace 方法。

0    Charley
1       Lily
2        NaN
Name: first, dtype: object

In [29]:
df['first'].replace({'Chris':'Charley', 'Lebron':'Lily'})

0    Charley
1       Lily
2       Kobe
Name: first, dtype: object